  <!--Bottom nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="display-10" style="color: white;">&copy; copyright 2023. All Rights reserved.</h6>
      </div>
    </nav>
  </footer>